$_black-700: #1E1E1E;
$_white-700: #F4F5F7;

$_eucalyptus: #289f5f;
$_green-pea: #19623b;
$_cod-gray: #181818;
$_dove-gray: #666;
$_boulder: #777;
$_white: #fff;
$_alabaster: #fafafa;
$_gallery: #ececec;
$_yellow: #FFD371;

$primary-color: $_yellow;
$primary-dark-color: $_yellow;

$background-dark-color: $_black-700;
$background-darker-color: $_cod-gray;
$background-light-color: $_alabaster;
$background-lighter-color: $_white;

$text-color: $_white;
$text-muted-color: $_dove-gray;
$text-inverted-color: $_white;

$border-color: $_dove-gray;
$border-inverted-color: $_gallery;

$code-bg-dark: $_white-700;
$code-color-dark: $_black-700;
