$max-width: 71.25rem;

// Spacing
$spacing-xs: 0.5rem;
$spacing-s: 1rem;
$spacing: 1.6rem;
$spacing-l: 3.25rem;


// border-radius
$rounded-1: 0.5rem;
$rounded-2: 0.75rem;
$rounded-3: 1rem;
$rounded-4: 1.25rem;
$rounded-5: 1.5rem;