@use "../settings/variables";

h1,
h2,
h3,
h4 {
  font-weight: 300;
  line-height: 1.13;
  color: variables.$primary-color;
  padding: 1rem 0px;
}

h1 {
  font-size: variables.$fs-title-l;
}

h2 {
  font-size: variables.$fs-title-m;
}

h3 {
  font-size: variables.$fs-title-s;
}
