.root {
  display: flex;
  flex-direction: row;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
  }
}

//TODO: move to palette
.like-btn {
  background-color: red;
}