@use "@/frontend/styles/settings/variables";

.root {
  display: flex;
  flex-direction: column;
  padding: variables.$spacing-l;
  gap: variables.$spacing-m;
  position: sticky;
  justify-content: center;
}

.like-btn {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 1.5rem;
  gap: variables.$spacing-xs;
}

//TODO: remove hardcoded colors
.like-icon--clicked {
  fill: red;
  stroke: red;
}
