@use "@/frontend/styles/settings/variables";

.root {
  display: flex;
  flex-direction: column;
  padding: variables.$spacing-l;
  gap: variables.$spacing-m;
  position: sticky;
  justify-content: center;
}
